<configuration>  
  <system.webServer>
    <handlers>
        <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\Hp\AppData\Local\Programs\Python\Python38\python.exe|C:\Users\Hp\AppData\Local\Programs\Python\Python38\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
  </system.webServer>
  <appSettings>
    <add key="WSGI_HANDLER" value="my_app.app" /> <!-- {name_of_file}.{name_of_flask_app}-->
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\FlaskApplication\Flask_Demo" />
	<!-- <add key="WSGI_LOG" value="C:\inetpub\wwwroot\FlaskApplication\Flask_Demo\app.log" />-->
  </appSettings>
</configuration>  